{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% block fos_user_content %}
    <div class="panel panel-success">
        {{ 'commons.continue_browsing'|trans }}
    </div>

{% endblock fos_user_content %}