{% trans_default_domain 'admin' %}

<div class="btn-group btn-group-clearall-idstoignore">
  <a class="btn btn-danger" href="#" id="btn-clearall-idstoignore">
    <i class="fa fa-trash" aria-hidden="true"></i>
    <span>{{ 'dynamic_imports.fields.idsToIgnore_clearAllButton'|trans }}</span>
  </a>
</div>
