{% trans_default_domain 'admin' %}

<p>
  <a class="btn btn-primary" href="{{ path('gogo_config_export') }}">
    {{ 'config_import_export.actions.export'|trans }}
  </a>
</p>
<p>
  <a class="btn btn-primary" href="{{ path('gogo_config_import') }}">
    {{ 'config_import_export.actions.import'|trans }}
  </a>
</p>

