{% trans_default_domain 'admin' %}

{% set object = form.vars.sonata_admin.admin.subject %}
{% set sourceType = object.getSourceType()|capitalize %}
{% if sourceType == 'Osm'%}
    {% set sourceType = 'OSM' %}
{% endif %}

{% set elementId = form.vars.sonata_admin.admin.elementId %}
{% if elementId %}
    <a href="{{ url('gogo_element_test_export', {id: elementId}) }}" class="btn btn-primary">
        {{ 'imports.edit.test_export.see_export'|trans({'%sourceType%':sourceType}) }}
    </a>
{% else %}
    {{ 'imports.edit.test_export.no_element'|trans }}
{% endif %}