{% extends 'admin/pages/page_layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block page_title %}{{ 'help._label'|trans }}{% endblock %}

{% block page_content %}
  <p>
  {{ 'help.doc'|trans }}<a href="https://doc.gogocarto.fr/" target="_blank">https://doc.gogocarto.fr/</a>
  </p>
{% endblock %}





